<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/styles.css">
        <link rel="stylesheet" href="/static/css/style_blog_area.css">
        <title>so what ?!</title>
    </head>
<body>
    <!-- navigation -->
    <nav class="navigation-bar">
        <a href="/">🍒 home,sweet,home</a>
        <input type="search"/>
        <button>Appreciation</button>
        <p id="private">Private Collection</p>
        <p id="sign-up">Sign up</p>
    </nav>
    <!-- background image -->
    <img id="bg-image" src="/static/imgs/background_image.png" alt="make poetry sexy again, please ;)">

    <!-- blog post containers -->
    <div class="blog-posts-container">
        <div class="blog-card">
            <a href="{{ url_for('poem1') }}" class="blog-poem">
                <img src="/static/imgs/eye.png" alt="eye is watching you">
                <div class="card-content">
                    <h3>blind spots in the eye</h3>
                </div>
            </a>
            <p>...Cutting and crying. And watching those long virgin hairs get weighed down on those scales. ...</p>
        </div>

        <div class="blog-card">
            <a href="{{ url_for('poem2') }}" class="blog-poem">
                <img src="/static/imgs/flowers.png" alt="flowers for (your) funeral">
                <div class="card-content">
                    <h3>i am: else</h3>
                </div>
            </a>
            <p>...so he begins to collect nameless various flowers to protect himself from loneliness. or is it boredom. ...</p>
        </div>

        <div class="blog-card">
            <a href="{{ url_for('poem3') }}" class="blog-poem">
                <div class="card-content">
                    <img src="/static/imgs/silhuette.png" alt="your silhouette or mine?">
                    <div class="card-content">
                        <h3>HIATUS (pause)</h3>
                    </div>
                </div>
            </a>
            <p>...and i imagine that i’m firing an invisible gun right into this laugh. ...</p>
        </div>
    </div>

    <!-- Footer -->
    <footer class="footer">
        <section class="social-sharing">
            <a href="https://www.instagram.com/elis_prostotak/" target="_blank">my InstaGram, you are welcome</a><br>
            <a href="https://github.com/elis-elis" target="_blank">my GitHub page, in case you know what it is</a><br>
            <a href="https://www.linkedin.com/in/e-prosto-tak/" target="_blank">my LinkedIn, join me there</a><br>
        </section>
        <p>© 2024 elisELIS blog. All rights reserved.</p>
    </footer>
</body>
</html>
