<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" 
    href="index-my-idea.css">
        <title>make poetry sexy again</title>
    </head>
<body>
    <div class="top-part">
        <p>
            <h1>you just don't know....</h1>
            <h3>but it's ok.</h3>
            <h4>you can stay.</h4>
            <h5>you are almost welcome.</h5>
        </p>
    </div>
    <div class="question-with-tick-boxes">
    <h2 id="question">are you alone?</h2>
    <ul>
        <label class="container">fortunately yes
            <input type="checkbox" checked="checked">
            <span class="checkmark"></span>
          </label> <br>

        <label class="container">unfortunately no
            <input type="checkbox">
            <span class="checkmark"></span>
          </label> <br>
        
        <label class="container">plausible maybe
            <input type="checkbox">
            <span class="checkmark"></span>
        </label> <br>
        
        <label class="container">i don't know actually
            <input type="checkbox">
            <span class="checkmark"></span>
          </label> <br>
        
        <label class="container">am i?
            <input type="checkbox">
            <span class="checkmark"></span>
        </label> <br>
    </ul>
    </div>




</body>
</html>
