<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/styles.css">
        <link rel="stylesheet" href="/static/css/style_index.css">
        <title>make poetry sexy (again)</title>
    </head>
<body>
    <div class="top-part">
        <h1>you just don't know...<small><em>(yet)</em></small>.</h1>
        <h3>you can stay.</h3>
        <h4><small>but</small> it's ok.</h4>
        <h5><small>you're almost</small> <strong>welcome</strong> here.</h5>
    </div>

    <div class="question-for-tick-boxes">
        <h2 id="question">are you <small>alone?</small></h2>
        <ul>
            <li>
                <label class="container">fortunately yes
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label> <br>
            </li>
            <li>
                <label class="container">unfortunately no
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label> <br>
            </li>
            <li>
                <label class="container">plausible maybe
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label> <br>
            </li>
            <li>
                <label class="container">i don't know actually
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label> <br>
            </li>
            <li>
                <label class="container">am i?
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label> <br>
            </li>
        </ul>
    </div>

    <div class="fixed-link">
        <a href="/blog-area"><small>click at your own risk</small> ;) to check blog area 🍓</a>
    </div>



</body>
</html>
