<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <title>my eyes are melting</title>
    </head>
<body>
    <div>
        eight<br>
        yellow tulips <br>
        in my mouth <br>
        waiting to be transformed into words:<br>
        of desires,<br>
        or is it love,<br>
        or maybe just another some weird fucked up feelings of nonsense and time-consuming unlogical burdens.<br>
        my broken bones are from the same<br>
        series as your broken hearts.<br>
        treat me like a fetish,<br>
        treat me like a natural disaster,<br>
        eat me to become taller,<br>
        eat me to become smaller.<br>
        find your own rabbit hole,<br>
        filled with unpredictable attractions.<br>
        so he begins to collect nameless various flowers to protect himself from loneliness. or is it boredom. <br>
        and then i squeeze fresh lemon juices directly into his raw wounds to remind us all of what is actually a focal point of existence. <br>
        and so he continues to collect shapeless stones to defend his presence from seclusion. <br>
        or was it confusion. <br>
        i saw you escaped your hole wearing a pair of rabbit-skin socks. <br>
        congratulations, i guess. <br>
        so now he looks at the horizon to observe yet another, publicly available, sunset <br>
        and then <br>
        his eyes watch tsunami appear:<br>
        approaching consuming destroying material lives of others, captivating their still-living-breathing-bodies. <br>
        amongst terrifying screams of surrounding crowds, without overthinking, he sticks a new bouquet of tulips up his ass and slowly moaning<br>
        whispering <br>
        he <br>
        mentions <br>
        my <br>
        name. <br><br>

        ————————— <br><br>
    </div>
    <a href="/blog-area"> go back to where you came from, (alomost) home? 🍌</a>
</body>
</html>