<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet"  href="/static/css/styles.css">
        <title>my eyes are melting</title>
    </head>
<body>

    <!-- Poem Header -->
    <header class="post-header">
        <h1>HIATUS (pause)</h1>
    </header>

    <!-- Poem Content -->
    <article class="poem">
        I lay in bed and hear laughter<br>
        one floor above my ears<br>
        it annoys me so much<br>
        and i imagine<br>
        that i’m firing an invisible gun<br>
        right into this laugh.<br>
        after a minute the laughter becomes louder and more paranoid:<br>
        laughs for a long time and constantly.<br>
        well<br>
        how<br>
        can<br>
        she do it ?!<br>
        my irritation pulls a pillow over that intrusive laugh.<br>
        someone rejoices in life, and I gift "death" ;)<br>
        ...but I gift also peace to myself,<br>
        quietness to my nervous system<br>
        when it is so needed. <br>
        (I justify myself)<br>
        of course, no offence to that woman above (I'm not talking about  a ”god"),<br>
        but the laughter <br>
        is piercing,<br>
        because it doesn't abate:<br>
        one after the other ahaha ahaha ahaha haha<br>
        haha<br>
        hahaha<br>
        ha<br>
        ahaha<br>
        haa<br>
        ha<br>
        my envy imagines throwing laughter out the window,<br>
        and again the conditional silence for my ears, like that foreplay, turns me on,<br>
        finally, I hear my stomach rumbling, caused by muscular activity, i.e., the contraction of muscles, stomach and intestines. <br>
        i listen to this symphony of mine and put my hand on my soft chest,<br>
        and I close my eyes to go into the darkness<br>
        and it becomes much better to feel the body<br>
        because it seems to be mine, but I can't see anything and it becomes unclear that it's me, but it's nice and I continue to feel and squeeze the fleshy covers of my body.<br>
        in my personal darkness I can do whatever I want.<br>
        only I know how it will be best.<br>
        the hand has long since moved to the pubic bone:<br>
        somewhere I press harder, somewhere weaker,<br>
        i am mentally happy with myself.<br>
        the stomach continues to growl loudly and violently, but I [don't] think about the lack of enzymes for digestion, or impaired absorption functions, or excess fluid.<br>
        no,<br>
        i am glad that i can allow myself the pleasure here and now - to feel this body with my mind, and with the fingers to walk along the ribs and again to return to the breasts, which are like two jelly desserts served on a bodily tablecloth.<br>
        a little while later, the hand finds its way back to the hot dimension between my thighs,<br>
        and the feeling of energy that rushes through me with every breath and heartbeat overwhelms me. i peek out one eye. everything is cool.<br>
        with my left index and middle fingers, i press on the soft vaginal lips and feel myself resting on bone, but between them is that pleasantness that gives me goosebumps.<br>
        fingers move slowly clockwisahahhahaa<br>
        haha<br>
        haha<br>
        haha<br>
        ahhhhhh<br>
        haha<br>
        aha<br>
        hah<br>
        ha … fuck i thought i threw her out the window. <br>
        whythefuckisshelaughing???<br><br>

        ————————— <br><br>
    </article>

    <!-- Navigation Back to Blog Area -->
    <nav class="back-to-blog">
        <a href="/blog-area"> go back to where you came from, (alomost) home? 🍉</a>
    </nav>
</body>
</html>