<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <title>my eyes are melting</title>
    </head>
<body>

    <!-- Poem Header -->
    <header class="post-header">
        <h1>blind spots in the eye</h1>
    </header>

    <!-- Poem Content -->
    <article class="poem">
        There are puddles all over the streets, but not after the rain, they are the sewage puddles. <br>
        (i think) Well at least they started cleaning up after the pets more consistently. <br>
        and now One shit has replaced the other. <br><br>

        I lay with my body pressing : <br>
        grass green and earth black. <br>
        Looking at the constant sky. Everything in the world is changing <br>
        (some say change is a good thing, i say): <br>
        and the earth is still under my black leather sandals and the sky is  above my uncombed random hairstyles.<br><br>

        And you know what i think now, that there's another world where people actually buy hair for whatever reasons there might be. <br>
        And then there are those who sell their hair. ok? <br>
        Cutting and crying. And watching those long virgin hairs get weighed down on those scales. <br>
        And there is a shortage of grams and payment for tears turns out to be less than discussed and hoped for and expected. <br><br>

        so here's a life lesson for you: <br>
        switch off the positive thinking and hope, be a here and now who doesn't depend on what hasn't happened yet, <br>
        only circumstances and desire should move you, only mood and common sense should be with you.<br><br>

        oohhh fuck <br>
        It's so hot outside that the rains dry up before they reach the ground. <br>
        Under the blazing sun the grass turns brown-yellow, only the city pigeons have time to bathe and drink in the sewage puddles.<br>
        By lunchtime, the puddles will be gone. <br><br>

        I will be me <br>
        and there will be light <br>
        and this body <br>
        and some dreams <br>
        and definitely desire to cut my head bald.<br><br>
        ——— <br>
        10:00 on the morning of 9-10.07.2021 <br><br>
    </article>

    <!-- Navigation Back to Blog Area -->
    <nav class="back-to-blog">
        <a href="/blog-area"> go back to where you came from, (alomost) home? 🍋</a>
    </nav>
</body>
</html>